<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home sweet home</title>
</head>
<body>
    <h1>&#127969; Home</h1><br><br>
    <a th:href="@{/courses}">Courses</a>
    <br><br>
    <a th:href="@{/NewCourse}">New course creation</a>
    <br><br>
    <a th:href="@{/findByTitle}">Find by course title part</a>
    <br><br>
    <a th:href="@{/allTeachers}">All teachers</a>
    <br><br>
    <a th:href="@{/teacherBySkillAndLevel}">Find teachers with a competence with a specific skill and level</a>
    <br><br>

<!--    <a th:href="@{/findCourseById}">Find course by ID</a>-->
</body>
</html>